{% load static %}
<nav class="navbar">
    <div class="nav-logo">
        <a href="{% url 'core:home' %}">
            <img src="{% static 'photos/logo.jpg' %}" alt="로고">
        </a>
    </div>
    <div>
        <div class="navbar-link">
            <a href="{% url 'sales:list' %}">
                <span>
                    매물검색
                </span>
            </a>
            <a href="">
                <span>
                    실거래가조회
                </span>
            </a>
            <a href="">
                <span>
                    부동산소개
                </span>
            </a>
        </div>
    </div>
    <div class="navbar-login">
        {% if user.is_authenticated %}
        <div class="navbar-login__box">
            <a href="{% url 'managements:home' %}"><span>관리자 페이지</span></a>
        </div>
        <div class="navbar-login__box">
            <a href="{% url 'users:logout' %}"><span>로그아웃</span></a>
        </div>
        {% else %}
        <div class="navbar-login__box">
            <a href="{% url 'users:login' %}"><span>로그인</span></a>
        </div>
        {% endif %}
    </div>
</nav>