{% extends 'base.html' %}
{% load static %}
{% block page_title %}
매물목록
{% endblock page_title %}

{% block content %}
<div class="toggle">
    <div class="toggle-box toggle__now" id="toggle-0">
        <i class="fa-solid fa-building fa-2xl"></i>
        <span>아파트</span>
    </div>
    <div class="toggle-box" id="toggle-1">
        <i class="fa-solid fa-house-laptop fa-2xl"></i>
        <span>기타</span>
    </div>
</div>

<div style="border:1px solid black">
    <h4>검색</h4>
    <form action="{{url}}" method="GET" id="search-form">
        <div>
            분류<br>
            <span id="type_all" class="search_all_checked">전체</span>
            {{form.sale_type}}
        </div>
        <div id="list-0" class="toggle-show">
            {% include 'sales/search_apartment_form.html' %}
        </div>
        <div id="list-1" class="toggle-noshow">
            {% include 'sales/search_not_apartment_form.html' %}
        </div>
        <div>
            가격
            {{form.price_from}} ~ {{form.price_to}}
        </div>
        <div>
            입주가능일
            {{form.date_from}} ~ {{form.date_to}}
        </div>
        <div>
            <input type="reset" value="초기화">
            <input type="submit" value="검색">
        </div>
    </form>
</div>
<table>
    <thead>
        <tr>
            <th>
                번호
            </th>
            <th>
                분류
            </th>
            <th>
                단지
            </th>
            <th>
                가격
            </th>
            <th>
                상세보기
            </th>
        </tr>
    </thead>
    <tbody>
        {% for sale in sales %}
        <tr>
            <td>
                {{sale.pk}}
            </td>
            <td>{% if sale.type == 'sale' %}
                매매
                {% elif sale.type == 'jeonse' %}
                전세
                {% else %}
                월세
                {% endif %}
            </td>
            <td>
                {{sale.complex_sub}}
            </td>
            <td>
                {{sale.amount}}
            </td>
            <td>
                <a href="{% url 'sales:detail' pk=sale.pk %}">상세보기</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include 'partials/paginator.html' with page_obj=sales %}

{% endblock %}