{% extends 'base.html' %}
{% load static %}
{% block page_title %}
매물목록
{% endblock page_title %}

{% block content %}
<h3>
    매물목록
</h3>


<div style="border:1px solid black">
    <h4>검색</h4>
    <form method="GET" action="" id="search_sale_form">
        {% csrf_token %}
        <div>
            분류<br>
            <span id="type_all" class="search_all_checked">전체</span>
            {{form.sale_type}}
        </div>
        <div>
            위치<br>
            <span id="address_all" class="search_all_checked">전체</span>
            {{form.address}}
        </div>
        <div>
            가격
            {{form.price_from}} ~ {{form.price_to}}
        </div>
        <div>
            입주가능일
            {{form.date_from}} ~ {{form.date_to}}
        </div>
        <input type="reset" value="초기화">
        <input type="submit" value="검색">
    </form>
</div>
<table>
    <thead>
        <tr>
            <th>
                번호
            </th>
            <th>
                분류
            </th>
            <th>
                단지
            </th>
            <th>
                가격
            </th>
            <th>
                입주 가능일
            </th>
            <th>
                완료여부
            </th>
            <th>
                상세보기
            </th>
        </tr>
    </thead>
    <tbody>
        {% for sale in sales %}
        <tr>
            <td>
                {{sale.pk}}
            </td>
            <td>{% if sale.type == 'sale' %}
                매매
                {% elif sale.type == 'jeonse' %}
                전세
                {% else %}
                월세
                {% endif %}
            </td>
            <td>
                {{sale.complex_sub}}
            </td>
            <td>
                {{sale.amount}}
            </td>
            <td>
                {{sale.available_date.year}}/{{sale.available_date.month}}
            </td>
            <td>
                {% if sale.is_sold %}
                완료
                {% else %}
                미완료
                {% endif %}
            </td>
            <td>
                <a href="">상세보기</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include 'partials/paginator.html' %}

{% endblock %}

{% block javascript %}
<script src="{% static 'javascript/clickCheckInput.js' %}"></script>
<script src="{% static 'javascript/changeFromToInput.js' %}"></script>
{% endblock javascript %}