{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %}{% endblock page_title %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body>
    <header class="header">
        {% include 'partials/navbar.html' %}
    </header>
    <main>

        <div class="sidebar">
            {% include 'partials/sidebar.html' %}
        </div>
        <div class="main" id="main">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <footer>

    </footer>
    <script src="{% static 'javascript/clickCheckInput.js' %}"></script>
    <script src="{% static 'javascript/changeFromToInput.js' %}"></script>
    <script src="{% static 'javascript/toggleBox.js' %}"></script>
    <script src="{% static 'javascript/search_submit.js' %}"></script>
    <script src="https://kit.fontawesome.com/38082222d0.js" crossorigin="anonymous"></script>
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
</body>

</html>