{% extends 'base.html' %}
{% load static %}

{% block page_title %}
관리자 페이지
{% endblock page_title %}


{% block content %}
<div class="toggle">
    <div class="toggle-box toggle__now" id="toggle-0">
        <i class="fa-solid fa-building fa-2xl"></i>
        <span>단지</span>
    </div>
    <div class="toggle-box" id="toggle-1">
        <i class="fa-solid fa-house-laptop fa-2xl"></i>
        <span>매물</span>
    </div>
    <div class="toggle-box" id="toggle-2">
        <i class="fa-solid fa-circle-question fa-2xl"></i>
        <span>문의</span>
    </div>
</div>
<br><br><br>

<div id="list-0" class="toggle-show">
    {% for complex in complex_list %}
    {{complex.name}}<br>
    {% endfor %}
    <br><br>
    <a href="{% url 'complexes:list' %}">전체보기</a><br>
</div>

<div id="list-1" class="toggle-noshow">
    <a href="{% url 'managements:sales_list' %}">전체보기</a><br>
    {% for sale in sale_list %}
    {{sale.address}}<br>
    {% endfor %}
    <br><br>
</div>

<div id="list-2" class="toggle-noshow">
    <a href="{% url 'questions:list' %}">전체보기</a><br>
    {% for question in question_list %}
    {{question.name}}-{{question.phone}}<br>
    {% endfor %}
    <br><br>
</div>
{% endblock %}
{% block javascript %}
<script src="{% static 'javascript/toggleBox.js' %}"></script>
{% endblock javascript %}